.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
_extensions
Icon
models
racialization.pdf
figures
racialization.Rproj
racialization-paper.pdf
archive
library.bib
data*
Icon
racialization-paper.aux
racialization-paper.bbl
racialization-paper.tex
racialization-paper.blg
racialization-paper.log
racialization-paper.out
