/*-- scss:defaults --*/

/*-- scss:rules --*/
.slide-background-content{
  background-image: url("https://ids.si.edu/ids/deliveryService?id=SAAM-2022.34_34&max=960");
  background-size: 100% 100%;
  background-opacity: .2;
  opacity: .2
}
