/*-- scss:defaults --*/

/*-- scss:rules --*/
.slide-background-content{
  background-image: url("https://static01.nyt.com/images/2026/02/17/multimedia/17trump-news-reporter-updates-jfhc/17trump-news-reporter-updates-jfhc-jumbo.jpg");
  background-size: 100% 100%;
  background-opacity: .2;
  opacity: .2
}
